<% include ../_layouts/admin_sidebar %>

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Спа и балнеология</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item admin-language active"><a href="/language"><%- language =='bg' ? 'EN' : 'BG' %></a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form class="form-horizontal" action="/admin/spa" method="POST">
                        <div class="card-body">
                            <h4 class="card-title">Съдържание по страница</h4>

                            <div class="form-group row">
                                <div class="col-sm-9">
                                    <textarea id="paragraph" rows="20" name="content" class="form-control" value=""><%= content %></textarea>
                                </div>
                            </div>

                            <div class="border-top">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>

</div>

<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>

<script>
    CKEDITOR.replace( 'content' );
</script>
<% include ../_layouts/admin_footer %>