<% include ../_layouts/admin_sidebar %>

<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">За нас</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb ">
                            <li class="breadcrumb-item admin-language active"><a href="/language"><%- language =='bg' ? 'EN' : 'BG' %></a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form class="form-horizontal" action="/admin/about-us" method="POST">
                        <div class="card-body">
                            <h4 class="card-title">Съдържание по страница</h4>


                            <div class="form-group row p-2">
                                <label for="title1" class="col-sm-2 control-label col-form-label">Заглавие</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="title" id="title1" value="<%= title %>">
                                </div>
                            </div>
                            <div class="form-group row p-2">
                                <label for="title1" class="col-sm-2 control-label col-form-label">Подзаглавие</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="subTitle" id="title1" value="<%= subTitle %>">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-9">
                                    <textarea id="paragraph" rows="20" name="text" class="form-control" value=""><%= text %></textarea>
                                </div>
                            </div>

                            <div class="border-top">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>

</div>

<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>

<script>
    CKEDITOR.replace( 'text' );
</script>
<% include ../_layouts/admin_footer %>