<% include ../_layouts/admin_sidebar %>

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Начална страница</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item admin-language active"><a href="/language"><%- language =='bg' ? 'EN' : 'BG' %></a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form class="form-horizontal" action="/admin/landing-page" method="POST" id="form" enctype="multipart/form-data">
                        <div class="card-body">
                            <h4 class="card-title">Съдържание по страница</h4>
                            <div class="form-group row">
                                <label for="compTitle" class="col-sm-3 text-right control-label col-form-label">Заглавие</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="compTitle" id="compTitle" placeholder=""
                                        value="<%= compTitle %>">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="lname" class="col-sm-3 text-right control-label col-form-label">Подзаглавие</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="compSubTitle" id="compSubTitle"
                                        placeholder="" value="<%= compSubTitle %>">
                                </div>
                            </div>

                            <hr>

                            <div class="form-group row">
                                <label class="col-md-3">Картина фон</label>
                                <div class="col-md-9">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="img" name="image">
                                        <label class="custom-file-label" for="validatedCustomFile">Choose
                                            file...</label>

                                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                                    </div>
                                    <div class="col-sm-9">
                                        <img src="/images/<%= headerBgImg %>" alt="" id="imgPreview" style="width: 200px; margin-top: 10px">
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <h4 class="card-title">За нас</h4>

                            <div class="form-group row">
                                <label for="title1" class="col-sm-3 text-right control-label col-form-label">Заглавие</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="paraTitle1" id="title1" value="<%= paragraphTitle %>">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="title2" class="col-sm-3 text-right control-label col-form-label">Подзаглавие</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="paraTitle2" id="title2" value="<%= paragraphSubTitle %>">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="title3" class="col-sm-3 text-right control-label col-form-label">Заглавие 3</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="paraTitle3" id="title3" value="<%= paragraphText %>">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="paragraph" class="col-sm-3 text-right control-label col-form-label">Текст</label>
                                <div class="col-sm-9">
                                    <textarea id="paragraph" rows="6" name="paragraph" class="form-control" value=""><%= paragraphText %></textarea>
                                </div>
                            </div>

                            <h4 class="card-title">Удобства</h4>

                            <div class="form-group row">
                                <label for="title1" class="col-sm-3 text-right control-label col-form-label">:</label>

                                <div class="col-sm-9">
                                    <div class="tag-display-area" id="display-area">

                                        <% amenities.forEach(function(amenity) {%>

                                        <span class="tag-wrapper">
                                            <span class="tag-span">
                                                <%= amenity %></span>
                                            <span class="remove-tag">x</span>
                                        </span>

                                        <% }); %>
                                    </div>
                                    <input type="hidden" name="amenities" id="input-hidden">
                                    <input type="text" class="form-control" id="tags-input">
                                    <div class="tag-plus">+</div>
                                </div>
                            </div>

                            <div class="border-top">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                                </div>
                            </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>



<% include ../_layouts/admin_footer %>

<script>

    'use strict'

    $(document).on("keydown", ":input:not(textarea)", function (event) {
        return event.key != "Enter";
    });

    $("#tags-input").on('keyup', function (e) {
        e.preventDefault();
        if (e.keyCode == 13) {
            e.preventDefault();
            addTag();
        }
    });

    $('.tag-plus').click(function (e) {
        e.preventDefault();
        addTag();

    });

    function addTag() {

        if ($('#tags-input').val() == '') {
            return;
        }

        let element = $('<span></span>').addClass('tag-wrapper');
        let tag = $('<span></span>').addClass('tag-span').text($('#tags-input').val());
        $('#input-hidden').val($('#input-hidden').val() + ';' + $('#tags-input').val());
        let cross = $('<span>x</span>').addClass('remove-tag');
        $(cross).click(function () {
            $(this).parent().remove();
        });

        $('#display-area').append(element.append(tag).append(cross));
        $('#tags-input').val('');
    }

    $('.remove-tag').click(function () {
        $(this).parent().remove();
    });

    function updateHiddenInput() {
        let result = '';
        let arrayTags = $('.tag-span');

        for (let i = 0; i < arrayTags.length; i++) {
            //tuka mahame xsas
            result += $(arrayTags[i]).text() + ';';
        }
        console.log(result);
        $('#input-hidden').val(result);
    }


    $("form").submit(function () {
        // Let's find the input to check
        updateHiddenInput();
    });


     //preview image
     function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#imgPreview").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#img").change(function () {
        readURL(this);
    })

</script>