<% include ../_layouts/admin_sidebar %>

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Цени</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item admin-language active"><a href="/language"><%- language =='bg' ? 'EN' : 'BG' %></a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title m-b-0">
                            <%= firstTableTitle %>
                        </h5>
                    </div>
                    <form action="/admin/pricing" method="POST">
                        <table class="table" class="admin-table">
                            <thead>
                                <tr>
                                    <% let firstRowLength = firstTable[0].length %>
                                    <% for(i = 0; i < firstRowLength; i++ ) {%>
                                    <th scope="col" colspan="2">
                                        <%= firstTable[0][i] %>
                                    </th>
                                    <% } %>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(i = 1; i < firstTable.length; i++ ) {%>
                                <tr>
                                    <% for(j = 0; j < firstTable[i].length; j++ ) {%>
                                    <th>
                                        <input type="text" class="input-admin" value="  <%= firstTable[i][j] %>" name="first<%= i %><%= j %>">

                                    </th>

                                    <% } %>

                                    <th>Изтрий ред</th>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>

                        <table class="table admin-table">
                            <thead>
                                <tr>
                                    <% let firstRowLength2 = secondTable[0].length %>
                                    <% for(i = 0; i < firstRowLength2; i++ ) {%>
                                    <th scope="col" colspan="2">
                                        <%= secondTable[0][i] %>
                                    </th>
                                    <% } %>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(i = 1; i < secondTable.length; i++ ) {%>
                                <tr>
                                    <% for(j = 0; j < secondTable[i].length; j++ ) {%>
                                    <th>
                                        <input class="input-admin" type="text" value="  <%= secondTable[i][j] %>" name="second<%= i %><%= j %>">

                                    </th>

                                    <% } %>

                                    <th><a>  Изтрий ред</a></th>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>

                        <input type="hidden" value="<%= firstTable.length %>" name="firstTableRows" />
                        <input type="hidden" value="<%= firstTable[1].length %>" name="firstTableCols" />
                        <input type="hidden" value="<%= secondTable.length %>" name="secondTableRows" />
                        <input type="hidden" value="<%= secondTable[1].length %>" name="secondTableCols" />
                        <button type="submit" class="btn btn-primary" id="submit">Запази</button>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

</div>

<% include ../_layouts/admin_footer %>