<% include ../_layouts/admin_sidebar %>

<div class="page-wrapper">
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Full Width</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item admin-language active">
                <a href="/language"><%- language =='bg' ? 'EN' : 'BG' %></a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <form
        action="/admin/add-image"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-group row">
          <label class="col-md-3">File Upload</label>
          <!-- <div class="col-md-6">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="validatedCustomFile" required="" name="image">
                                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                <div class="invalid-feedback">Example invalid custom file feedback</div>
                            </div>
                        </div> -->
          <input type="file" class="col-md-3" id="img" name="image" />
          <button type="submit" class="col-md-3 btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <div class="row el-element-overlay">
      <% images.forEach(function(image) { %>
      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="el-card-item">
            <div class="el-card-avatar el-overlay-1">
              <img src="/images/<%= image %>" alt="user" />
              <div class="el-overlay">
                <ul class="list-style-none el-info">
                  <li class="el-item">
                    <a
                      class="btn default btn-outline image-popup-vertical-fit el-link"
                      href="/images/<%= image %>"
                      ><i class="mdi mdi-magnify-plus"></i
                    ></a>
                  </li>
                  <li class="el-item">
                    <a
                      class="btn default btn-outline el-link"
                      href="/admin/delete-image/<%= image %>"
                      ><i class="mdi mdi-delete"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="el-card-content">
              <span class="text-muted"> <%= image %></span>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>

  <footer class="footer text-center">
    All Rights Reserved by Matrix-admin. Designed and Developed by
    <a href="https://wrappixel.com">WrapPixel</a>.
  </footer>
</div>

<% include ../_layouts/admin_footer %>
