<% include ../_layouts/admin_sidebar %>

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Начална страница</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item admin-language active"><a href="/language"><%- language =='bg' ? 'EN' : 'BG' %></a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form class="form-horizontal" action="/admin/location" method="POST" id="form">
                        <div class="card-body">
                           
                            <h4 class="card-title"><%- language == 'bg' ? 'Местоположение' : 'Location' %></h4>

                            <div class="form-group row">
                                <label for="title1" class="col-sm-3 text-right control-label col-form-label"><%- language == 'bg' ? 'Адрес' : 'Address' %></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="address" id="title1" value="<%= address %>">
                                </div>
                            </div>
                           
                            <div class="form-group row">
                                <label for="title2" class="col-sm-3 text-right control-label col-form-label"><%- language == 'bg' ? 'Телефон' : 'Phone' %></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="phone" id="title2" value="<%= phone %>">
                                </div>
                            </div>
                           
                            <div class="form-group row">
                                <label for="title3" class="col-sm-3 text-right control-label col-form-label"><%- language == 'bg' ? 'Email' : 'Email' %></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="email" id="title3" value="<%= email %>">
                                </div>
                            </div>
                          
                            <div class="border-top">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                                </div>
                            </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>

<% include ../_layouts/admin_footer %>
