<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <title>Admin</title>
    <!-- Custom CSS -->
    <link href="../../assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/admin/dist/css/style.min.css" rel="stylesheet">
    <link href="/admin/dist/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" href="/admin/dist/css/admin-custom.css">
</head>

<body>
    <div id="main-wrapper">

        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">

                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>

                    <a class="navbar-brand" href="index.html">
                        <b class="logo-icon p-l-10">
                            Admin Bora
                            <i class="wi wi-sunset"></i>
                        </b>

                    </a>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                        data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light"
                                href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>

                    </ul>

                    <ul class="navbar-nav float-right">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               
                                        <%if (user) { %>
                                   
                                        <%= user.email %>
                                   
                                    <% } %>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i>
                                    My Profile</a>
                              
                                <a class="dropdown-item" href="/admin/logout"><i class="fa fa-power-off m-r-5 m-l-5"></i>
                                    Logout</a>
                                <div class="dropdown-divider"></div>
                               
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>

            <% if(errors)  { %>
            <% errors.forEach(function(error) { %>
            <div class="alert-danger">
                <%= error %>
            </div>
            <% }); %>
            <% } %>

        </header>

        <aside class="left-sidebar" data-sidebarbg="skin5">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">

                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/landing-page"
                                aria-expanded="false"><i class="mdi mdi-blur-linear"></i><span class="hide-menu">
                                    <%-  language == 'bg' ? 'Начална страница' : 'Land page' %></span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/about-us"
                                aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">
                                    <%-  language == 'bg' ? 'За нас' : 'About us' %></span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/pricing"
                                aria-expanded="false"><i class="mdi mdi-border-inside"></i><span class="hide-menu">
                                    <%-  language == 'bg' ? 'Цени' : 'Pricing' %></span></a></li>


                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/spa"
                                aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">
                                    <%-  language == 'bg' ? 'Спа и балнеология' : 'Spa and balneology' %></span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/gallery"
                                aria-expanded="false"><i class="mdi mdi-multiplication-box"></i><span class="hide-menu">
                                    <%-  language == 'bg' ? 'Галерия' : 'Gallery' %></span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/location"
                                aria-expanded="false"><i class="mdi mdi-guitar-pick"></i><span class="hide-menu">
                                    <%-  language == 'bg' ? 'Местоположение' : 'Location' %></span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                                aria-expanded="false"><i class="mdi mdi-face"></i><span class="hide-menu">
                                    <%-  language == 'bg' ? 'Оферти' : 'Offerts' %> </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/admin/offerts/easter" class="sidebar-link"><i class="mdi mdi-emoticon"></i><span
                                            class="hide-menu"> Великден</span></a></li>
                                <li class="sidebar-item"><a href="/admin/offerts/christmas" class="sidebar-link"><i class="mdi mdi-emoticon-cool"></i><span
                                            class="hide-menu"> Коледа </span></a></li>
                            </ul>
                        </li>


                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/users"
                                aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">
                                    <%-  language == 'bg' ? 'Потребители' : 'Users' %></span></a></li>


                    </ul>
                </nav>
            </div>
        </aside>