<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <h4><%- language =='bg' ? 'Нашият адрес' : 'Address' %></h4>
                <p><%= location['address_' + language] %></p>

                <div class="number">
                    <h4><%- language =='bg' ? 'Телефонче' : 'Phone' %></h4>
                  
                    <p><%= location.phone %></p>
                </div>
                <h4>Email</h4>
                <p>
                    <a href="mailto:info@example.com"><%= location.email %></a>
                </p>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 col-lg-4">
                <h4><%- language =='bg' ? 'Карта на сайта' : 'Map' %></h4>

                <ul>
                    <li class="underline-footer">
                        <a href="/"><%- language =='bg' ? 'начало' : 'start' %></a>
                    </li>
                    <li class="underline-footer">
                        <a href="/base"><%- language =='bg' ? 'за нас' : 'about us' %></a>
                    </li>
                    <li class="underline-footer">
                        <a  href="/gallery"><%- language =='bg' ? 'галерия' : 'gallery' %></a>
                    </li>
                    <li class="underline-footer">
                        <a href="/pricing"><%- language =='bg' ? 'цени' : 'pricing' %></a>
                    </li>
                    <li class="underline-footer">
                        <a href="/spa"><%- language =='bg' ? 'спа и балнеология' : 'spa' %></a>
                    </li>

                </ul>
            </div>
            <div class="col-md-4 col-lg-4">
                <h4><%- language =='bg' ? 'Връзки' : 'Links' %></h4>

                <ul>
                    <li>
                        <a href="" class="icon-footer"> <i class="fab fa-facebook"></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>


</body>

<script  src="../js/jquery.min.js"></script>

<script src="../bootstrap/js/bootstrap.min.js" ></script>


<script>
    

    // $('.toggle').click(function(){
       
    //     $(this).toggleClass('switched');
    // });

</script>