<% include ./_layouts/header %>

<div class="offert">
  <div
    class="offert-bg"
    style="background-image:url('/images/<%- image %>')"
  ></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="offert-inner">
          <div class="title">
            <h1>
              <%= title %>
            </h1>
            <h4>В ПАРК- ХОТЕЛ „БОРА“ гр. ПАВЛИКЕНИ</h4>
          </div>
          <div class="pricing-table">
            <table class="table mb-5">
              <thead>
                <% for(i = 0; i < firstTable.length; i++ ) {%>
                <th scope="col"><%= firstTable[0][i] %></th>
                <% } %>
              </thead>
              <tbody>
                <% for(i = 1; i < firstTable.length; i++ ) {%>
                <tr>
                  <% for(j = 0; j < firstTable[i].length; j++ ) {%> <% let style
                  = (j % 2 == 0) ? 'text-left w-75': 'text-right' %>
                  <td class="<%=  %>">
                    <%= firstTable[i][j] %>
                  </td>
                  <% } %>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>

          <div class="note">
            * Деца до 2,99г. - БЕЗПЛАТНО.
          </div>

          <div class="offert-text">
            <%- text %>
          </div>
          <div class="mt-5">
            <h2 class="orange-title-text ">
              Изберете тишината и спокойствиете сред борова гора и приятелска
              среда! Екипът на Парк- хотел „ Бора“ ще работи за Вашето празнично
              настроение.
            </h2>
          </div>
          <div class="reservations">
            <h2>За резервация</h2>
            <ul>
              <li>0889 281 600; 0610 5 55 35</li>
              <li>e-mail: info@parkhotel-bora.com</li>
              <li>
                IBAN: BG8333333333333333333 Уни Кредит Булбанк "ФИДКОМ" гр.
                Павликени
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ./_layouts/footer %>
