<% include ./_layouts/header %>
<div class="top-title p-4">
    <div class="container-fluid">
        <h1>
            <%- language =='bg' ? 'Цени' : 'Pricing' %></h1>
    </div>
</div>

<div class="spa">
    <div class="container-fluid">
        <div class="row">
            <div class="amenities-container col-md-3 col-lg-3 ">
                <div>
                    <h2><%- language =='bg' ? 'Комплексът предлага' : 'The hotel offers' %>а</h2>
                    <div class="amenities-list">
                        <ul>

                            <% amenities.forEach(function(amenity){ %>
                            <li>
                                <span></span>
                                <%= amenity %>
                            </li>

                            <% }) %>

                        </ul>
                    </div>
                </div>

                <div class="amenities-image">
                    <img src="./images/pic5.jpg" alt="">
                </div>

                <div class="amenities-image">
                    <img src="./images/pic6.jpg" alt="">
                </div>
            </div>
            <div class=" col-md-9 col-lg-7 offset-lg-1 mt-5">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">ЦЕНИ НОЩУВКА СЪС ЗАКУСКА</th>
                            <!-- <th scope="col">Handle</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <% for(i = 0; i < firstTable.length; i++ ) {%>
                        <tr>
                            <% for(j = 0; j < firstTable[i].length; j++ ) {%>

                            <% let style = (j % 2 == 0) ? 'text-left w-75': 'text-right' %>
                            <td class="<%= style %>">
                                <%= firstTable[i][j] %>
                            </td>


                            <% } %>

                        </tr>
                        <% } %>
                    </tbody>


                </table>


                <p class="tax-note">Забележка: Цените на нощувките не вслючват ДДС, туристическа такса и
                    ползване на басейн</p>
                <p class="pool-note">Използването на басейна е само през летния сезон! (от май до октомври)</p>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">ЦЕНИ НОЩУВКА СЪС ЗАКУСКА</th>
                            <!-- <th scope="col">Handle</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <% for(i = 1; i < secondTable.length; i++ ) {%>
                        <tr>
                            <% for(j = 0; j < secondTable[i].length; j++ ) {%>
                            <% let style = (j % 2 == 0) ? 'text-left w-75': 'text-right' %>
                            <td class="<%= style %>">
                                <%= secondTable[i][j] %>
                            </td>

                            <% } %>
                        </tr>
                        <% } %>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>

<% include ./_layouts/footer %>

<link rel="stylesheet" href="lib/jquery.js">
<link rel="stylesheet" href="bootstrap/js/bootstrap.min.js">


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYOHcAsnPec4zWNYnFFH5hKsUIag0lkAw&callback=initMap"
    type="text/javascript"></script>

</html>